@model TokenEmailModel

@{
	ViewBag.Heading = "Verify Your Email Address";
}

<p>
	Hello,
</p>

<p>
	An account has been created for you. Please verify your email address by clicking the button below.
</p>

<partial name="_EmailButton" model="new EmailButtonModel(\"Verify Email Address\", Model.ActionLink)" />

<p>
	This link will expire. If it has already expired, please contact your administrator to request a new one.
</p>

<p>
	If you did not expect this email, you can safely ignore it.
</p>
